body {
    background: linear-gradient(90deg, rgba(0,172,140,0.05) 5%, rgba(0,100,149,0.05) 10%, rgba(0,172,140,0.05) 25%);
}
  
#search {
    padding:10px;
    border-radius:10px;

    margin-left: 5%;
    height: 30px;
    width: 500px;
    margin-bottom: auto;
    margin-top: auto;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.05);
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    gap: 5px;
    flex-grow: 0;
}

.beer {
    flex: 1;
    background: linear-gradient(0deg, rgba(0,211,255,0.03) 0%, rgba(172, 241, 255, 0.03) 70%, rgba(255, 255, 255, 0.03) 100%);
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 2%;
    min-width: 270px;
    min-height: 380px;
    text-align: center;
    position: relative; 
    max-width: 25%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 0;
    cursor: pointer
}

.big-beer {
    flex: 1;
    background: linear-gradient(0deg, rgba(0,211,255,0) 0%, rgba(0,211,255,0.15) 70%, rgba(0, 139, 167, 0.70) 100%);
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 2%;
    min-width: 90%;
    min-height: 1000px;
    text-align: center;
    position: relative; 
    max-width: 25%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-grow: 0;
}

.tagline {
    height: 23%;
    width: 100%;
    position: absolute; 
    padding-top: 5px;
    bottom: 2%;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(0.25turn, #008b5d0e, #008b5d02, #008b5d00);
    font-size: 16px;
    line-height: 16px;
}

.name {
    height: 15%;
    width: 100%;
    position: absolute; 
    bottom: 25%;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
    margin-top: 5px;
    font-weight: 100;
    text-transform: uppercase;
    color: #01aa8b;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
}

.name:not(.nohover):hover {  
    transform: scale(1.03);
    color: rgb(255, 0, 0);
  }

.image-beer {
    width: 65px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content : flex-start;
    background-image: url(sign.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    margin-left: 5%;
    margin-right: 5%;
}

#header1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 3rem;
    margin: 2rem 0 1rem;
    font-weight: 900;
    font-size: 92px;
    width: 52px;
}
#header2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00ac8c7a;
    font-size: 3rem;
    margin: 2rem 0 1rem;
    font-weight: 900;
    font-size: 92px;
}

.back-button {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffffa1;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    cursor: pointer
}
      
.back-button:hover {
    color: #fff;
}

@media (max-device-width: 1025px) {
    body {
        background: rgba(255, 0, 0, 0.05);
    }
    .beer {
        min-width: 42vw;
    }
    #header1 {
        font-size: 46px;
        width: 26px;
    }
    #header2 {
        font-size: 46px;
        width: 26px;
    }
    h1 {
        background-image: none;
    }
    #search {
        margin-left: 15%;
        width: 65%;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: auto;
        margin-top: 3.8%;
    }
    .big-beer {
        min-height: 1200px;
        min-width: 90%;
    }
}

@media (max-device-width: 500px) {
    body {
        background: rgba(0, 89, 255, 0.05);
    }
    #search {
        height: 55px;
        margin-top: 2.5%;
        font-size: 26px;
        line-height: 26px;
    }
    .beer {
        min-width: 80vw;
        min-height: 112vw;
    }
    .image-beer {
        width: 18vw;
        height: 72vw;
        margin-left: auto;
        margin-right: auto;
    }
    .name {
        bottom: 15%;
        font-size: 48px;
        line-height: 48px;
    }
    .tagline {
        font-size: 32px;
        line-height: 32px;
    }
} 